html {
  background-color: #181a1b;
  color: rgb(255, 255, 255);
  font-family: 'Montserrat', 'Helvetica', 'Arial', 'Sans-Serif';
  font-size: 16;
}
a {
    color: #3391ff;
}
h1 {
  font-family: 'Montserrat Subrayada', 'Helvetica', 'Arial', 'Sans-Serif';
}
h1 {
  font-size: 46px;
  text-align: right;
}
h2 {
  font-size: 30px;
  margin-top: 42.8px;
  color: rgb(190, 190, 190);
}
h3 {
  color: rgb(190, 190, 190);
}
.left {
  float: left;
  width: 45%;
}
.input {
  text-align: right;
  font-size: 14px;
}
input {
  width: 20%;
  padding: 3px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid rgb(60, 60, 60);
  background-color: #181a1b;
  color: #fff;
  box-sizing: border-box;
  transition-timing-function: ease-in-out;
  transition-duration: 0.5s;
}
input:focus {
  border-color: #fff;
}
.output {
  display: none;
  text-align: right;
  font-size: 14px;
  color: rgb(175, 175, 175);
}
span {
  padding-left: 10px;
  font-weight: bold;
}
.result {
  font-size: 16px;
  color: #fff;
}
.icons {
  height: 20px;
  width: 20px;
  float: right;
  padding-left: 10px;
}
.button {
  border: 0px;
  background-color: rgb(105, 27, 153);
  width: 75px;
}
.right {
  float: right;
  padding-right: 10%;
  text-align: left;
  word-wrap: break-word;
  width: 35%;
  color: rgb(220, 220, 220);
}
/* .right {
  float: right;
  padding-right: 15%;
  text-align: center;
  word-wrap: normal;
  width: 70%;
} */
