@import 'theme.css';
@import 'main.css';

/* Navbar */
.navbar {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-title {
  padding: 10px;
  border: 6px solid var(--link-color);
  border-radius: 5px;
}

.navbar-title a {
  color: var(--link-color);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 4px; /* 2px */
}
/* End of navbar */

.projects-list {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

.projects-list #title {
  font-size: 40px;
  font-weight: bold;
}

.projects-list a {
  font-size: 32px;
  line-height: 50px;
}
