.jquote-main a {
  margin: 6px;
  color: var(--link-color);
  text-decoration-line: none;
}
.jquote-main a:hover {
  text-decoration-line: underline;
}
.jquote-main #title {
  font-size: 52px;
  font-weight: bold;
  margin: 6px;
}
.jquote-main #quote {
  font-size: 24px;
  font-style: italic;
}
.jquote-main {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding-left: 25%;
  padding-right: 25%;
}

#jquote-source-link {
  text-decoration-line: none;
}
#jquote-embed {
  transition: 0.1s ease-in;
}
