@import '../general/theme.css';
@import '../general/main.css';

/* Navbar */
.navbar {
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-title {
  padding: 10px;
  border: 6px solid var(--link-color);
  border-radius: 5px;
}

.navbar-title a {
  color: var(--link-color);
  font-size: 32px;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 4px; /* 2px */
}
/* End of navbar */

html {
  overflow-x: hidden;
}
.spelunky-body h1, .spelunky-body h2, .spelunky-body h3, .spelunky-body h4, 
.spelunky-body h5, .spelunky-body h6, .spelunky-body a, .spelunky-body p, .spelunky-body ul {
  white-space: nowrap;
}
.spelunky-body #topdiv {
  text-align: center;
}

.spelunky-body p, .spelunky-body ul {
  font-size: small;
  line-height: 20px;
}
.spelunky-body ul {
  padding: 0px;
}
.spelunky-body blockquote {
  background: #DCDCDC; /* #ddd */
  border-left: 3px solid #5b5b5b;
  margin: 3em auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px 0.5em;
  color: #181a1b;
  font-family: 'Verdana', 'Sans-Serif';
  font-size: small;
}
.spelunky-body blockquote p {
  display:inline;
}

#spelunky-alltex-dl {
  background-color: #DCDCDC; /*#0070e0*/
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  margin-top: 1em;
  display: inline-block;
  font-weight: bold;
  border-radius: 4px;
}
#spelunky-alltex-dl::after {
  content: '';
  width: 0px;
  height: 2px;
  display: block;
  background: black;
  transition: 0.2s;
}
#spelunky-alltex-dl:hover::after {
  width: 100%;
}
