<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="silencebow, hobby, test">
    <meta name="author" content="silencebow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:url" content="https://silencebow.github.io">
    <meta property="og:image" content="https://i.imgur.com/ex00Yqf.png">
    <meta property="og:image:width" content="184">
    <meta property="og:image:height" content="184">
    <link href="docs/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="assets/styles/main.css">
    <title>{{ page.title }} • {{ site.title }}</title>
  </head>

{{ content }}
</html>